<div class="row">
  <div class="col">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to AWS Cognito Demo</h1>
      <p class="lead">This is a simple demo of AWS Cognito used as an authorizer for an API Gateway endpoint.</p>
      <hr class="my-4">
      <p>This API Gateway is configured to require a Cognito User Pool authorizer. The API call requires a token coming from
        a successful authentication.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>

  </div>
  <div class="col">
    <app-signin (signinSuccess)="onSignSuccess($event)" *ngIf="!authenticationData"></app-signin>
    <div class="jumbotron" *ngIf="authenticationData">
      <h1 class="display-4">You're logged in!</h1>
      <button class="btn btn-primary" (click)="callApi()">Click Here to Call the API</button>
      <hr class="my-4">
      <div *ngIf="apiResult">
        <h2 class="display-4">We have a result!</h2>
        <pre>{{apiResult|json}}</pre>
      </div>
    </div>
  </div>
</div>
